html {
  scroll-behavior: smooth;
}

.padding-top {
  padding-top: 90px; 
}

.gradient-background {
  background: linear-gradient(300deg, #332941, #3B3486, #864AF9);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-link{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.5rem;
}

/* Mobile-specific styles for the sliding navbar */
.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  max-width: 100%;
  background-color: #212529;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0; 
  visibility: hidden;
  padding: 5px;
}

.navbar-collapse.show {
  transform: translateX(0);
  opacity: 1; 
  visibility: visible; 
}

.navbar-nav .nav-link {
  color: #864AF9; 
  transition: color 0.3s ease-in-out;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1051; /* Ensure it's above the navbar */
}

/* Styles for desktop view */
@media (min-width: 992px) {
  .navbar-collapse {
      position: relative;
      transform: none;
      box-shadow: none;
      height: auto;
      width: auto;
      background-color: transparent;
      justify-content: center;
      opacity: 1; 
      visibility: visible; 
  }

  .navbar-nav {
      flex-direction: row;
      justify-content: center;
      width: 100%; 
  }

  .nav-item {
      margin: 0 15px; 
  }

  .btn-close {
      display: none; 
  }
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: hsl(261, 94%, 53%);
  text-decoration: none;
}

.picture {
  border-radius: 50%;
  height: 100%;
  max-height: 400px;
  max-width: 100%;
  border: 5px solid #3B3486;
}

.text-color {
  color: #F8E559;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.work-sans-font-header {
  color: #3B3486;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2.2rem;
}

.card-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-color-hobbie {
  color: black;
}

.skill-logo {
  max-height: 50px;
  width: auto;      
}

.hover-zoom {
  transition: transform 0.3s ease; 
}

.hover-zoom:hover {
  transform: scale(1.1); 
}

.skill-wrapper {
  position: relative;
  display: inline-block;
}

.skill-name {
  position: absolute;
  top: -45px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #3B3486; 
  font-family: "Work Sans", sans-serif;
  color: #F8E559;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0; 
  transition: opacity 0.3s ease; 
  font-size: 0.9em;
}

.skill-wrapper:hover .skill-name {
  opacity: 1; 
}

.skill-logo {
  width: 100%; 
  height: auto; 
  transition: transform 0.3s ease; 
}

.contact-icon {
  max-width: 110px; 
  height: auto;   
  transition: transform 0.3s ease;
}

.color-secondary{
  font-family: "Work Sans", sans-serif;
  font-weight: 350;
  color: #FFF8DB;
  font-size: 1.4rem;
}

.contact-me-heading{
  font-family: "Work Sans", sans-serif;
  color: #3B3486;
  font-weight: 550;
}

.header-wrapper {
  display: inline-block;
  transition: transform 0.5s ease;
}

.header-wrapper.scaled {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .header-wrapper.scaled {
    transform: scale(1.1);
  }
}

@media (max-width: 576px) {
  .header-wrapper h2.work-sans-font-header {
    font-size: 2rem;
  }
}

.carousel-item img {
  height: auto; 
  max-height: 400px; 
  object-fit: cover; 
}


.carousel-caption h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #F8E559;
  background-color: #3B3486;
  border-radius: 5px;
  padding: 10px 20px; 
  display: inline-block; 
  margin: 0; 
  line-height: 1.4; 
}


@media (max-width: 768px) {
  .carousel-caption {
      bottom: 20px; 
  }
  .carousel-caption h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 10px !important;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; 
  background-size: 100%;
}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-up.show {
  opacity: 1;
  transform: translateY(0);
}